.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 210px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
  }
  
  .content-container {
    flex: 1; 
  }
  
  .main-container h1 {
    color: black;
    font-size: 40px; 
  }
  
  .main-container p {
    color: black;
    font-size: 40px; 
  }
  
  .purple-box {
  background-color: #B61B3B;
  padding: 100px; 
  width: 300px; 
  display: flex;
  align-items: center;
  }

  .box-image {
    width: 97%; 
    border-radius: 8px; 
    margin-right: 20px; 
    transform: scaleX(-1); 
    margin-left: -500px;
  }

  .circles-container {
    display: flex;
    margin-top: 50px;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    background: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
  }

  
  .circle-empty {
    border: 2px solid #fff; 
    background:none;
  }
  
  .circle-filled {
    background-color: white;
  }

  .shop-now-button {
    background-color: #CC2448;
    color: white;
    padding: 10px 40px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 25px;
  }
  
  .shop-now-button:hover {
    background-color: #CC2448; 
  }

  .welcome-container {
    text-align: center;
    margin-top: 20px; 
  }
  
  .welcome-title {
    font-size: 2em;
    color: white;
  }

  .color-boxes-container {
    display: flex;
    justify-content: center;
    margin-top: 55px;
  }
  
  .color-box {
    height: 100px;
    width: 200px;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .circle-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 343px;
    font-size: 25px;
  }

  .circle {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .circle-image {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    position: absolute;
  }
  

  .circle-top {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 95px;
    transform: translateX(-50%);
  }
  
  .box-text {
    color: #706464;
    text-align: center;
    font-size: 15px; 
  }
  
  .red {
    background-color: #F0C0C0;
  }
  
  .green {
    background-color: #9DB5E5;
  }
  
  .blue {
    background-color: #A9D47B;
  }
  
  .yellow {
    background-color: #E6C979;
  }

  .arrow {
  font-size: 36px;  
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  left: -29px;
}

.right {
  right: -29px;
}

