.productdisplay{
    display: flex;
    margin: 0px 170px;
}

.productdisplay-left{
    display: flex;
    gap: 17px;
}

.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img{
    height: 163px;
    margin-top: 10px;
}

.productdisplay-main-img{
    width: 580px;
    height: 700px;
    margin-top: 10px;
}

.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #CC2448;
}

.productdislay-right-price-old{
    color: black;
    text-decoration: line-through;
}

.productdisplay-right-price-new{
    color: black;
}

.productdisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.productdisplay-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.productdisplay-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay-right-category{
    margin-top: 10px;
}

.productdisplay-right-category span{
    font-weight: 600;
}

.productdisplay-in-stock {
    padding: 8px;
    margin-bottom: 8px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    margin-right: 80px;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.productdisplay-in-stock {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 8px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    margin-right: 730px;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #DF3233;
  }
  
  .productdisplay-arrows {
    display: flex;
  }
  
  .productdisplay-next {
    cursor: pointer;
    font-size: 18px;
    font-weight: 599;
    color: #1c1c1c;
    margin-left: 80px;
    margin-top: -155px;
    opacity: 0.5;
  }

  .productdisplay-prev{
    cursor: pointer;
    font-size: 18px;
    font-weight: 599;
    color: #1c1c1c;
    margin-left: 255px;    
    margin-top: -155px;
    opacity: 0.5;
  }

  .productdisplay-info {
    display: flex;
    flex-wrap: wrap; 
    opacity: 0.5;
    grid-template-columns: 1fr; /* Single column for simplicity */
    gap: 20px; /* Adjust as needed */
  }
  
  .author-info,
  .category-info,
  .illustrator-info {
    margin-left: 5px;
  }

  .productdisplay-statement{
    opacity: 0.5;
  }

  .productdisplay-quantity {
    display: flex;
    align-items: center;
  }

  .quantity-label {
    font-size: 20px; 
    opacity: 0.5;
  }
  
  .quantity-button {
    display: flex;
    align-items: center;
    background-color: #CECECE; 
    color: black;
    border: none;
    padding: 10px 36px; 
    cursor: pointer;
    border-radius: 50px; 
    background: transparent;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); 
  }
  
  .quantity-button span {
    margin: 0 10px;
  }
  
  .minus {
    order: 1;
  }
  
  .plus {
    order: 3;
  }
  
  .quantity-number {
    order: 2;
  }

  .productdisplay-right button {
    padding: 8px 16px; 
    width: 120px; 
    font-size: 12px;
    font-weight: 599;
    color: white;
    background: #CC2448;
    margin-bottom: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 12px;
    margin-top: 10px;
  }

  .series-container {
    display: flex;
    flex-direction: column; 
    gap: 10px;
  }
  
  .series-item,
  .additional-item,
  .another-item {
    font-weight: 600;
  }

  .category,
.stage,
.reading-type,
.pages,
.year,
.id,
.weight,
.dimensions {
  color: #484848; 
}
